<h1> Your Results </h1>

<p><%= %></p>
<p><%= %></p>
<p><%= %></p>
<p><%= %></p>


<div class="container">
<%= form_tag "/results", method: :post do %>
  Level Name: <input type="text" name="level_name" value="<%= @level_name%>">
  
<% end %>
</div>