


<div class="avatar">
		<div class="language_icon">
	
	   <h1><i class="<%= @language.image %>">Levels</i></h1>
      </div>
 </div>



<% @language.levels.each do |level| %>
<% end %>

<section>
	<% @language.levels.order(:level_number).each do |level| %>
	  <div class="container py-3">
		    <div class="card">
		      <div class="row ">
		        <div class="col-md-3">
		        <div class="level_number">
		           <h1> <%= level.level_number %></h1>
	           </div>
		        </div>
	          <div class="col-md-9 px-3">
	            <div class="card-block px-3">
	              <h1 class="card-title"><%= level.level_name %></h1>
	              <p class="card-text">Some text</p>
	              <a href="/<%= @language.language_name %>/levels/<%= level.level_number %>" class="btn btn-primary">Level</a>
	            </div>
	          </div>
		        </div>
		      </div>
	    </div>
	<% end %>
</section>