
<div id="app">

<!-- hero-section -->
<section class="hero-section hero-particle-bg" id="top" data-stellar-background-ratio="0.1">
    <div id="particles-js"></div>
    <div class="slider-caption">
        <div class="container">
            <div class="row">
                <h1> <span>Code speed 3</span></h1>
               
            </div>
        </div>
    </div>
</section>

        
<section class="about-us" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-xs-12 no-padding">
                <!-- About Us Left -->
                <div class="about-us-left">
                    <h2 class="section-title-left"><%= @coding_language.language_name %> Level:<%= @level.level_number %></h2>

                    <pre><code class="ruby" id="level_code"><%= @level.code %></code></pre>


                    <h3>Your code:</h3>
  									{{userText}}
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding">
                <!-- About Us Right -->
                <div class="about-us-right">
                        <button class="startButton" v-on:click="counter()">Start</button>
                        <button class="myButton" v-on:click="resetButton()">Reset</button>

                        <a class="submit" href="/<%= params[:language_name] %>/levels/<%= params[:level_number].to_i - 1 %>"> < Prev</a>

                        <a class="submit" href="/<%= params[:language_name] %>/levels/<%= params[:level_number].to_i + 1 %>">Next Level ></a>


                        <span>{{countdown}}</span>
                        <textarea cols="40" rows="10" tabindex="101" v-model="userText"></textarea>
                        <button class="submit" class="btn-primary btn-contact btn-block" v-on:click="submitCode()">Submit Code!</button>

                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text" class="modal-title" id="myModalLabel">Resluts</h4>
      </div>
      <div class="modal-body">
                        <div>
                       <li><h3 class="results"> WPM: {{ wpm }}</h3></li>
                       <li> <h3 class="results">errors: {{mistakeCount}}</h3></li>
                       <li><h3 class="results"> accuracy: {{accuracy}} </h3></li>
                       <li><h3 class="results"> Code you typed: {{userText}} </h3></li>
                                  </div>

      </div>
      <div class="modal-footer">
        <button class="myButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="myButton" type="button" class="btn btn-primary">Reset</button>
        <button  class="submit" type="button" class="btn btn-primary">NextLevel></button>
      </div>
    </div>
  </div>
</div>


</div> <!-- end of vue app -->