<!DOCTYPE html>
<html class="no-js" lang="">
    <head>

        <!-- Site Title -->
        <title>Codespeed3</title>

        <!-- Site Meta Info -->
     
        <link href="https://fonts.googleapis.com/css?family=Diplomata+SC|PT+Sans" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Effacy is a bootstrap3 based creative one page HTML5 Template.">
        <meta name="keywords" content="creative, html5, portfolio, parallax, personal, responsive">
        <meta name="author" content="themebite.com">




        <!-- Essential CSS Files -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/simplelightbox.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Color Styles | To Chage the color simply remove all the stylesheet form bellow without the color you want to keep -->
        <link rel="stylesheet" href="/css/colors/color-green.css">
<!--         <link rel="stylesheet" href="/css/colors/color-blue.css">
        <link rel="stylesheet" href="/css/colors/color-aqua.css">
        <link rel="stylesheet" href="/css/colors/color-purple.css">
        <link rel="stylesheet" href="/css/colors/default-color.css">
 -->
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">


        <!-- Essential JS Files -->
        <script src="/js/vendor/jquery-1.11.3.min.js"></script>
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>


        <!-- IE9 Scripts -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <%= csrf_meta_tags %>
      <!--   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->

    </head>
    <body>

    <!-- Heaser Area Start -->
    <header class="header-area">
        <!-- Navigation start -->
        <nav class="navbar navbar-custom tb-nav" role="navigation">
            <div class="container">        
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tb-nav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="http://localhost:3000/"><h2>Code<span>speed 3</span></h2></a>
              </div>
          
              <div class="collapse navbar-collapse" id="tb-nav-collapse">
          
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" href="http://localhost:3000/>Home</a></li>
                    <li><a class="page-scroll" href="#about">Language</a></li>
                    <li><a class="page-scroll" href="http://localhost:3000/levels">Levels</a></li>
                    <li><a class="page-scroll" href="contact">Contact Us</a></li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
        <!-- Navigation end -->

        

      <!-- this where my page load in between -->
        <!-- <p class="notice"> -->
        <%= notice %>
            
        <!-- </p> -->
        <!-- <p class="alert"> -->
        <%= alert %>
            
        <!-- </p> -->
        
        <%= yield %>
        
    
      
        <!-- End Of Footer Section -->


   





    <!-- JS Files -->
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.min.js"></script>
    <!-- PreLoader -->
 -->    <!-- Particle JS -->
    <script src="/js/particles.min.js"></script>
    <script src="/js/particles-config.js"></script>
    <!-- Background Prallax -->
    <script src="/js/jquery.stellar.min.js"></script>
    <!-- WOW JS Animation -->
    <script src="/js/wow.min.js"></script>
    <!-- Simple Lightbox -->
    <script src="/js/simple-lightbox.min.js"></script>
    <!-- Sticky -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- OWL-Carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- jQuery inview -->
    <script src="/js/jquery.inview.js"></script>
    <!-- Shuffle jQuery -->
    <script src="/js/jquery.shuffle.min.js"></script>
    <!-- jQuery CountTo -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    <script src="/js/vue.js"></script>

    <%= javascript_include_tag "application" %>


    </body>
    
</html>
